<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Animal</th>
        <th scope="col">Tutor</th>
        <th scope="col">Data/Hora</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (marcacao of marcacoes; track marcacao.id) {
      <tr>
        <td style="width: 20%;">{{ marcacao.tipo }}</td>
        <td style="width: 20%;">{{ animalIdNome(marcacao.animalId)}}</td>
        <td style="width: 20%;">{{ tutorIdNome(marcacao.tutorId)}}</td>
        <td style="width: 20%;">{{ formatDataHora(marcacao.dataHora)[0] }}<br>{{ formatDataHora(marcacao.dataHora)[1] }}</td>
        <td style="width: 5%;">{{ marcacao.realizada ? '🟢' : '' }}</td>
        <td style="width: 5%;">{{ marcacao.cancelada ? '🔴' : '' }}</td>
        <td style="width: 5%;">
          <button class="btn btn-lg edit-btn square-btn" type="button"
            [routerLink]="['/editar-marcacao/', marcacao.id]">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </td>
        <td style="width:5%;">
          <button class="btn btn-lg delete-btn square-btn" type="button"
            [routerLink]="['/eliminar-marcacao/', marcacao.id]">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      } @empty {
      @if (marcacoes) {
      <tr>
        <td colspan="4">Não há marcações!</td>
      </tr>
      } @else {
      <tr>
        <td colspan="4">A carregar as marcações...</td>
      </tr>
      }
      }
    </tbody>
  </table>
</div>
