<div class="container">

  <app-navbar></app-navbar>

  <div>

    <div class="text-center">
      <img src="assets/images/clivet.png" class="illustration">
    </div>

    <p class="home-text">
      Na <strong>Clivet</strong> estamos comprometidos em oferecer o mais alto padrão de cuidados para os seus animais de estimação.
      Com a nossa <i>expertise</i> em saúde animal e tecnologia de ponta, desenvolvemos esta plataforma utilizando os
      conhecimentos transmitidos pelo formador João Teixeira sobre a poderosa <i>framework</i> Angular para lhe proporcionar
      uma experiência intuitiva e eficiente. Esta plataforma de gestão de dados foi projectada para simplificar e
      optimizar todos os aspectos do cuidado com os animais. A nossa interface permite que gerencie todas as informações
      importantes dos seus animais de forma rápida e segura.
    </p>

    <app-home-menu></app-home-menu>

    <footer class="mt-4">
      <p class="text-center">
        <i class="fa-regular fa-copyright"></i>
        CliVet - Clínica Veterinária Unipessoal Lda.
      </p>
    </footer>
  </div>

</div>
