<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Telemóvel</th>
        <th scope="col">E-mail</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (tutor of tutores; track tutor.id) {
      <tr>
        <td style="width: 30%;">{{ tutor.nome }}</td>
        <td style="width: 30%;">{{ tutor.telemovel }}</td>
        <td style="width: 30%;">{{ tutor.email }}</td>
        <td style="width: 5%;">
          <button class="btn btn-lg edit-btn square-btn" type="button" [routerLink]="['/editar-tutor/', tutor.id]">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </td>
        <td style="width: 5%;">
          <button class="btn btn-lg delete-btn square-btn" type="button" [routerLink]="['/eliminar-tutor/', tutor.id]">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      } @empty {
      @if (tutores) {
      <tr>
        <td colspan="4">Não há tutores!</td>
      </tr>
      } @else {
      <tr>
        <td colspan="4">A carregar os tutores...</td>
      </tr>
      }
      }
    </tbody>
  </table>
</div>
